  <!-- Project Name: E-Portfolio
   File Name: footer.ejs
   Name:Vyoma Shukla
   Student id: 300989164  -->


  
<script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstarp/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
</body>
</html>