<!-- Project Name: E-Portfolio
   File Name: services.ejs
   Name:  Vyoma Shukla
  Student id: 300989164  -->
<% include ../partials/header.ejs %>

     <div class="container">
       <div class="jumbotron">
           <h1 class="display-4">Vyoma Shukla</h1>
           <p class="lead">
           This page gives you information about the skills I offer.</p>
           <hr class="my-4">
           <p>  </p>
           <p class="lead">
           
             <ol>               
             <li>The knowledge of Programming includes-C#, C, C++, Java, HTML/CSS, JavaScript, ASP.Net, PL/SQL.</li>
             <li>The knowledge of Networking includes-Basic knowledge of installation and PC configuration.</li>
             <li>The knowledge of Operating Systems includes-Windows XP Professional, Linux, Unix, MS DOS</li>
             <li>The knowledge of Applications inludes- Microsoft Office, Eclipse, Visual Studio, Visual Studio Code.</li>
             </ol>
           </p>
         </div>
     </div>
<% include ../partials/footer.ejs %>


 